<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.neinzedd9.NoMessageButtons</string>
			<key>key</key>
			<string>enableSwitch</string>
			<key>label</key>
			<string>Tweak Enabled</string>
			<key>PostNotification</key>
    	<string>NZ9NoMessageButtonsPreferencesChangedNotification</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.neinzedd9.NoMessageButtons</string>
			<key>key</key>
			<string>arrowButtonSwitch</string>
			<key>label</key>
			<string>Arrow Button Enabled</string>
			<key>PostNotification</key>
			<string>NZ9NoMessageButtonsPreferencesChangedNotification</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.neinzedd9.NoMessageButtons</string>
			<key>key</key>
			<string>audioButtonSwitch</string>
			<key>label</key>
			<string>Audio Button Enabled</string>
			<key>PostNotification</key>
			<string>NZ9NoMessageButtonsPreferencesChangedNotification</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.neinzedd9.NoMessageButtons</string>
			<key>key</key>
			<string>browserButtonSwitch</string>
			<key>label</key>
			<string>Appstore Button Enabled</string>
			<key>PostNotification</key>
			<string>NZ9NoMessageButtonsPreferencesChangedNotification</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.neinzedd9.NoMessageButtons</string>
			<key>key</key>
			<string>digitalTouchButtonSwitch</string>
			<key>label</key>
			<string>Digital Touch Button Enabled</string>
			<key>PostNotification</key>
			<string>NZ9NoMessageButtonsPreferencesChangedNotification</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.neinzedd9.NoMessageButtons</string>
			<key>key</key>
			<string>photoButtonSwitch</string>
			<key>label</key>
			<string>Photo Button Enabled</string>
			<key>PostNotification</key>
			<string>NZ9NoMessageButtonsPreferencesChangedNotification</string>
		</dict>
		<dict>
			<key>cell</key>
      <string>PSGroupCell</string>
      <key>footerText</key>
      <string>Failed Message icon by AliWijaya from the Noun Project</string>
    </dict>
		<dict>
    	<key>big</key>
    	<true/>
    	<key>cellClass</key>
    	<string>HBTwitterCell</string>
    	<key>height</key>
    	<integer>56</integer>
    	<key>label</key>
    	<string>NeinZedd9</string>
    	<key>user</key>
    	<string>neinzedd9</string>
		</dict>
	</array>
	<key>title</key>
	<string>NoMessageButtons</string>
</dict>
</plist>
